.container {
  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: center;
  align-items: center;

  margin-top: 5px;

  .profile {
    margin: auto;

    width: 142px;
    height: 142px;
    z-index: 1;
  }
}
.cimage {
  margin: auto;
  resize: 50px;
}



ion-label {
  margin: 2%;
  ion-title {
    font-weight: 300;

    margin: 2%;
  }

  ion-text {
    font-size: 14px;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    margin: 2.5%;
  }
}
.sbutton {
  display: flex;
  justify-content: flex-end;

  .btn-style {
    border-radius: 40px;
    color: var(--ion-color-light);
  }
}
.without-border {
  border: none;
  outline: none;

  background-color: var(--ion-color-light) !important;
}
.form-field {
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  input {
    font-size: 14px;
    margin-left: 2px;
    width: 100%;
  }
}
.form-field,
input:focus {
  box-shadow: 0;
  outline: 0;
}
.form-field .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  margin-left: 7.5%;
  width: 80%;
  bottom: 20px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.form-field .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  margin-left: 7.5%;
  width: 80%;
  bottom: 20px;
  left: 0;
  background: var(--ion-color-primary);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.form-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.form-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

input {
  position: relative;
}
