<ion-header color="light">
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      <strong>Transações</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="container">
  <ion-toolbar color="secondary" >
    <div style="background-color: secondary">
      <ion-list color="secondary">
        <ion-item *ngFor="let value of transactions" color="light">
          <ion-label>
            <h1>
              <ion-text size="small" slot="start" class="ion-text-wrap">
                <strong>{{value.title}}</strong>
              </ion-text>
            </h1>
            <ion-text class="ion-text-wrap">{{value.name}}</ion-text>
          </ion-label>
          <ion-label slot="end">
            <h1>
              <ion-text size="small" slot="start" class="ion-text-wrap">
                {{value.date}}
              </ion-text>
            </h1>
            <ion-text class="ion-text-wrap">{{value.price}}</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-content>
