<ion-header class="ion-text-center">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small"><strong>Informações de Conta</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-toolbar color="secondary">
    <div
      style="background-color: var(--ion-color-secondary)"
      class="list-style"
    >
      <ion-toolbar color="secondary" class="list-style">
        
        <ion-list color="secondary" *ngFor="let v of field">
          <ion-item>
            <ion-label>
              <h2>Endereço</h2>
              <p>{{v.adress}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-toolbar>
    </div>
  </ion-toolbar>

  <ion-toolbar color="secondary" class="container">
    <div>
      <div id="adress" class="form-field">
        <ion-label color="medium"> 
          <ion-text >Novo Endereço</ion-text>
        </ion-label>
        <input
          type="text"
          class="form-control shadow-none without-border"
          id="adress"
          placeholder="Insira seu novo endereço"/>
        
      </div>
    </div>
  </ion-toolbar>
</ion-content>
