<ion-header class="ion-text-center">
<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-button routerLink="..">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title size="small"><strong>Serviços</strong></ion-title>
</ion-toolbar>
</ion-header>

<ion-content color="secondary">
<ion-toolbar color="secondary">
  <div
    style="background-color: var(--ion-color-secondary)"
    class="list-style"
  >
   
    <ion-toolbar color="secondary" class="container">
      <div>
        <div id="pix" class="form-field">
          <ion-label color="medium"> 
            <ion-text>CATEGORIA</ion-text>
          </ion-label>
          <select
            class="form-control shadow-none without-border"
            id="pix"
            placeholder="Insira a sua chave pix">
            <option *ngFor ="let option of options">
              {{option.categorie}}
            </option>
          
          </select>
          
        </div>
        <div id="pix" class="form-field">
          <ion-label color="medium"> 
            <ion-text>NOME DO SERVIÇO</ion-text>
          </ion-label>
          <input
            
            class="form-control shadow-none without-border"
            id="pix"
            placeholder="Insira o nome do serviço"/>
          
        </div>
      
      </div>
    </ion-toolbar>
      
  </div>
</ion-toolbar>
</ion-content>
