/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.shadow {
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.25s;
}
.shadow:hover {
  -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.05);
  transition: all ease-in-out 0.25s;
}
.btn-style {
  font-size: 14px;
  border-radius: 5px;
  padding: 12px;
  margin: 2%;

  border: none;
  outline: none;
  transition: all 0.25s ease;
}

.btn-style:hover {
  letter-spacing: 0.8px;
}
